<h4>Categories <%= link_to "(Create)", new_category_path %></h4>
<%= link_to "Home", root_path %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div id ="wrapper">
  <ul id="categories">
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %>
        <%= link_to "(Create)", new_category_product_path(category), class: "create" %>
    </li>
  <% end %>
  <h4>All products</h4>

  <div id="mainlist">
    <ul>
      <% @products.each do |product| %>
        <li>Category: <%= product.category.name %></li>
        <li>Name: <%= product.name %></li>
        <li>Price: $<%= product.price %></li>
        <li>Description: <%= product.description %></li>
        </br>
      <% end %>
    </ul>
  </div>
</div>

